$colorBlueFav: #1b5583;  // my favorite color
$colorSCPRed: #bb0011;   // scp foundation red

body {
    background-color: rgb(28,28,28);
}

.container {
    .content {
        .mainHeader {
            color: $colorBlueFav;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}