@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// fonts
$fontNormal: Rubik;
$fontMono: Ubuntu Mono; 
$fontBold: Rubik Mono One;
$fontAlt: Reddit Sans;
$fontMonoAlt: Reddit Mono;
// colors
$colorBlueFav: #1b5583;  // my favorite color
$colorSCPRed: #bb0011;   // scp foundation red

body {
    background-color: rgb(28,28,28);
}

.container {
    .content {
        p {
            font-family: $fontNormal;
        }
        .mainHeader {
            color: $colorBlueFav;
            font-family: $fontBold;
        }
    }
}
